<app-modal>
  <ng-container header>
    Add document
    <mat-divider class="!mt-2"></mat-divider>
  </ng-container>
  <form class="grid gap-3" [formGroup]="form" (ngSubmit)="onAddDocument()">
    <app-file-area-input formControlName="file" [acceptableMimeTypes]="acceptableMimeTypes"></app-file-area-input>

    <mat-form-field class="w-full">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput />
      <mat-error>{{ form.controls.name.errors | errorMessage }}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        @for (status of availableStatuses; track status) {
          <mat-option [value]="status">{{ status | documentStatus }}</mat-option>
        }
      </mat-select>
      <mat-error>{{ form.controls.status.errors | errorMessage }}</mat-error>
    </mat-form-field>

    <button class="mt-3" mat-flat-button>Create</button>
  </form>
</app-modal>
