<ng-template #createDoc>
  <button mat-flat-button class="!min-w-max" [disabled]="isLoading()" (click)="onCreateDocument()">
    Create doc
    <mat-icon matIconSuffix>add</mat-icon>
  </button>
</ng-template>
<app-pdf-view></app-pdf-view>

<div class="p-4 min-h-screen">
  <div class="flex flex-col-reverse md:flex-row mb-5 gap-4 items-center">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Document status</mat-label>
      <mat-select [formControl]="docStatusControl">
        @for (status of documentStatuses; track status) {
          <mat-option [value]="status">{{ status | documentStatus }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="flex gap-2">
      <button class="!min-w-max" mat-stroked-button (click)="onLogOut()">Log out</button>
      <ng-container *ngTemplateOutlet="createDoc"></ng-container>
    </div>
  </div>

  @let areDocumentsExistent = dataSource.data.length > 0;
  @if (isLoading()) {
    <app-loading-table [amount]="{ rows: paginationService.pagination().size, columns: 4 }"></app-loading-table>
  } @else if (!areDocumentsExistent) {
    <div class="grid h-[50vh] text-center place-content-center text-slate-800 gap-4">
      <span class="text-2xl">No documents found. 😪</span>
      <ng-container *ngTemplateOutlet="createDoc"></ng-container>
    </div>
  }
  <div [class.hidden]="isLoading() || !areDocumentsExistent">
    <div class="md:hidden mb-3 grid gap-3">
      @for (document of dataSource.data; track document.id) {
        <app-mobile-card>
          <ng-container primary>
            <h2 class="text-lg truncate font-semibold text-violet-900">{{ document.name }}</h2>
            <mat-chip class="px-2 py-1 text-xs font-medium rounded bg-slate-100 text-violet-800">
              {{ document.status | documentStatus }}
            </mat-chip>
          </ng-container>
          <ng-container secondary>
            <p>Created: {{ document.createdAt | date: 'medium' }}</p>
            <p>Updated: {{ document.updatedAt | date: 'medium' }}</p>
          </ng-container>
          <ng-container menu>
            <app-documents-user-menu [document]="document" (mutated)="manageUserMenuEvent($event)"></app-documents-user-menu>
          </ng-container>
        </app-mobile-card>
      }
    </div>
    <mat-table class="!hidden md:!block" matSort [dataSource]="dataSource" (matSortChange)="onSortChange($event)">
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>File name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a>{{ element.name }}</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip class="truncate">{{ element.status | documentStatus }}</mat-chip>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Updated at</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.updatedAt | date: 'short' }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <app-documents-user-menu [document]="element" (mutated)="manageUserMenuEvent($event)"></app-documents-user-menu>
          </mat-menu>
        </mat-cell>
      </ng-container>
    </mat-table>
    <app-paginator></app-paginator>
    <div class="m-2 text-white">Current user role: {{ authService.userRole() }}</div>
  </div>
</div>
