<button
  mat-menu-item
  [disabled]="!isActionAvailable(DocumentStatus.UnderReview)"
  [matTooltip]="tooltipTexts.underReview"
  [matTooltipDisabled]="isActionAvailable(DocumentStatus.UnderReview)"
  (click)="onStatusChange(DocumentStatus.UnderReview)">
  <mat-icon>hourglass_top</mat-icon>
  <span>Review</span>
</button>

<button
  mat-menu-item
  [disabled]="!isActionAvailable(DocumentStatus.Approved)"
  [matTooltip]="tooltipTexts.approve"
  [matTooltipDisabled]="isActionAvailable(DocumentStatus.Approved)"
  (click)="onStatusChange(DocumentStatus.Approved)">
  <mat-icon>check_circle</mat-icon>
  <span>Approve</span>
</button>

<button
  mat-menu-item
  [disabled]="!isActionAvailable(DocumentStatus.Declined)"
  [matTooltip]="tooltipTexts.decline"
  [matTooltipDisabled]="isActionAvailable(DocumentStatus.Declined)"
  (click)="onStatusChange(DocumentStatus.Declined)">
  <mat-icon>cancel</mat-icon>
  <span>Decline</span>
</button>

<button mat-menu-item (click)="openFile()">
  <mat-icon>insert_drive_file</mat-icon>
  <span>Open file</span>
</button>
